@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@keyframes progress {
  0% { transform: translateX(-120%); }
  50% { transform: translateX(60%); }
  100% { transform: translateX(220%); }
}